
__author__    = "Aurora Flight Sciences"
__date__      = "$DATE$"
__rev__       = "$REV$"
__license__   = "GPL v.3"
__copyright__ = """
This file is part of EDSA, the Extensible Dataset Architecture system
Copyright (c) 2010-2011 Aurora Flight Sciences Corp.

Work on EDSA was sponsored by NASA Dryden Flight Research Center
under 2009 STTR contract NNX10CF57P.

EDSA is free software; you can redistribute it and/or modify it under 
the terms of the GNU General Public License as published by the Free 
Software Foundation; either version 3 of the License, or (at your option) 
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
"""
""" Local (machine-specific) settings for the EDSA project """

#   Your IP address, used to broadcast the location of Pyro
#   remote functions that can be executed on your machine.
EDSA_IP_ADDRESS = 'aaa.bb.cc.ddd'

#   A string identifying the name of your machine.  This allows the EDSA
#   client to be portable across different physical computers, network 
#   locations, etc.
EDSA_MACHINE_NAME = 'rdc-[username]'

#   Working directory for executing local tools.
EDSA_TOOL_WORKDIR = '/path/to/private/tools'

#   Working directory for storing large file data types.
EDSA_STORAGE_DIR = '/path/to/large/files'

#   Python path for executing Python script tools.
EDSA_TOOL_PATH = (
    '/path/to/custom/python/modules',    
)


#   Path to the directory containing the 'edsa' Python module.
#   This is usually the path to the 'edsa_django' folder in your
#   working copy of the edsa repository.
PROJECT_ROOT = '/path/to/edsa'

#   Information needed for automatic e-mails coming from your machine.
ADMINS = (
    ('Your Name', 'username@aurora.aero'),
)

#   Add this path so you can look up files served by FeinCMS for the admin
#   interface.
FEINCMS_ADMIN_MEDIA_LOCATION = '/path/to/feincms/media/feincms/'

#   The debug toolbar is activated for clients at the IP addresses in this list.  
INTERNAL_IPS = ['127.0.0.1']
