<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>EDSA - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/media/styles/base.css" />
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/tundra/tundra.css"/>
        <link rel="stylesheet" type="text/css" href="/media/scripts/dojo-1.4.3/dojox/form/resources/FileInput.css" />
    {% endblock %}
    {% block javascript %}
        <script src="/media/scripts/dojo-1.4.3/dojo/dojo.js" type="text/javascript" djConfig="isDebug: true, parseOnLoad: true"></script>
        <script type="text/javascript" src="/media/scripts/ajax_tools.js"></script>
        <script type="text/javascript" src="/media/scripts/ajax_updates.js"></script>
        <script type="text/javascript" src="/media/scripts/dojo_setup.js"></script>
    {% endblock %}
</head>

<body class="tundra">
<table border="0" width="100%">
<tr>
<td valign="top">{% include "header_text.html" %}</td>
<br />
<td align="top" valign="bottom">{% include "nav_buttons.html" %}</td>
<td align="right" valign="middle">{% include "logos.html" %}</td>
</tr>
</table>

{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>

</html>

