{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        dojo.require("dijit.form.NumberTextBox");
	
    </script>
<p> pick your variable values! <p>


<form name="input1" action="/Tools/stimulus/run/" method="get" target=center>
<input type="hidden" value={{ToolID}} name="Tools"/>
<input type="hidden" value='{{Inputs}}' name="inputs"/>
<input type="hidden" value='{{points}}' name="points"/>

<table>
<tr>
<td width="200px">  </td>
<td> </td>
</tr>


{{form}}
</table>

<input type="submit" value="Execute" />
</form>

<INPUT TYPE="BUTTON" VALUE="Back" ONCLICK="window.location.href='http://127.0.0.1:8000/Tools'">
{% endblock %}
